* {
   margin: 10px;
   padding: 10px;
}
p {
    font-weight: 20;
    color: none;
}


.nav-link-item {
    color: brown;
    display: inline;

}

.link-element {
    color: blue;
}


#signup-button { 
    color: darkblue
}